<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}Hold for Pickup!{{else}}Move Order!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Send My Order Back</button>
</li>
