<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Hold for Later!{{else}}Eat Me!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
