<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Yummy!{{else}}Its getting cold!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
